.rotate-x {
  animation: rotateX 2s linear;
}

@keyframes rotateX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-y {
  animation: rotateY 2s linear infinite;
  // transform-style: preserve-3d;
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
