@use '@/assets/global.scss';

.el-button {
  border: none;
}

.el-button--success {
  background-color: var(--color-green);
}

.bg {
  background-image: url('@/assets/bg.jpg');
}

.glass-container {
  position: absolute;
  @include global.glass-container(5px /** blurVal */);
}
